.error {
  color: red !important;
  font-weight: normal;
}

.btn-small {
  width: 60px;
}

.btn-medium {
  width: 100px;
}

.btn-large {
  width: 150px;
}

.mg-rg-small {
  margin-right: 10px;
}
.no-pd-lr {
  padding-left:  0px !important;
  padding-right: 0px !important;
}